.row {
  border-radius: 4px;
  margin-bottom: 14px;

  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(204, 208, 223, 0.5);
}

.data {
  flex-direction: column;
}

.availability {
  position: absolute;
  margin-left: 10px;
  margin-top: -5px;
  &.not {
    background-color: #b1b9db !important;
  }
  background-color: #16ba44;
  height: 12px;
  width: 12px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #ffffff;
}

.text {
  color: #b1b9db;
  border-radius: 20px;
  min-height: 24px;
  padding: 0 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  width: fit-content !important;
  max-width: 400px;
}

.text-name {
  color: #b1b9db;
  border-radius: 20px;
  min-height: 24px;
  padding: 0 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  width: fit-content !important;
  max-width: 400px;
}

.value {
  color: #212121;
  border-radius: 20px;
  min-height: 24px;
  padding: 0 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
}

.value-name {
  color: #212121;
  border-radius: 20px;
  min-height: 24px;
  padding: 0 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}
