/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

$primary: #2e57fa;
$onPrimary: #ffffff;

$primaryHover: #0637f9;
$primaryPressed: #052dcc;

$bgColor: #f4f6fe;

$shadow: 0px 10px 20px rgba(204, 208, 223, 0.5);

.row {
  --bs-gutter-x: 0px !important;
}

.page-container {
  padding: 1rem;
}

:root {
  --primary: #{$primary};
  --on-primary: #{$onPrimary};

  --bg-color: #{$bgColor};

  --shadow: #{$shadow};
}

.property {
  font-family: 'Inter' sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: #b1b9db;
}

.value {
  font-family: 'Inter' sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #000000;
}

:root,
html,
body {
  background-color: var(--bg-color);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  height: 100%;
}

.container {
  max-width: 714px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
}

.text-muted {
  color: #b1b9db !important;
}

a {
  color: var(--primary);
  text-decoration: none;
}

button:hover,
[role='button']:hover {
  cursor: pointer;
}

.title {
  font-family: 'Inter' sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 24px;
  color: #b1b9db;
  margin-bottom: 24px;
}
